header{
	padding-bottom: 60px;
}
footer{
	background-color: gray;
}
footer a{
	color: white;
	font-family: 'Nunito', sans-serif;
}
footer a:hover{
	color: #94fcf1;
}
#Mymenu li a{
	color: white;
	font-family: 'Nunito', sans-serif;
}
#Mymenu li a:hover{
	color: #94fcf1;
}
h2{
	font-family: 'Festive', cursive;
}
#inicio img{
	width: 30%;
	margin: 20px 0 0 430px;
}
#emailb{
	margin: 10px 0 10px 480px;
}


@media(max-width: 600px){
	h2{
		text-align: center;
	}
	#inicio img{
		width: 100%;
		margin: 20px 0 0 0;
	}
	#emailb{
		margin: 10px 0 10px 80px;
	}
}